.container-blood {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
  background: white;
  padding: 0.6rem;
  margin: 0.25rem;
}

.container-valuess {
  display: flex;
  gap: 9px;
  width: 40%;

  @media (max-width: 682px) and (min-width: 280px) {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 0.5px solid #f3caba;
  padding: 0.6rem;
  margin: 0.25rem;
  gap: 5px;
  border-radius: 8px;
}

.field-ff {
  display: flex;
  flex-direction: flex-wrap;
  align-items: center;
  gap: 2px;
  padding: 0;
  margin: 0.25rem;
  border-radius: 8px;

  @media (max-width: 682px) and (min-width: 100px) {
    flex-direction: column;
  }
}
